# Python virtual environments
.env
.venv
env/
venv/
ENV/
*.env

# Docker
DockerData/
postgres_data/
*.dockerfile
*.yaml
!docker/Dockerfile
!docker/docker-compose.yml

# Static and media files
/static/
static/
staticfiles/
media/
media/
logs/
sock/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Test and coverage outputs
.pytest_cache/
.coverage
htmlcov/
.tox/

# Build files
*.egg-info/
dist/
build/