# Python virtual environments
.env
.venv
env/
venv/
ENV/
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific
*.log

# Docker
DockerData/
postgres_data/
Dockerfile
*.dockerfile
*.yaml
*.yml
!docker/Dockerfile
!docker/docker-compose.yml

# Static and media files
static/
media/
staticfiles/
logs/

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Test and coverage outputs
.pytest_cache/
.coverage
htmlcov/
.tox/

# Build files
*.egg-info/
dist/
build/

# Alembic migrations
migrations/.mypy_cache/
migrations/.pytest_cache/
migrations/*.log
migrations/*_env.pyc

# Ignore database files
*.sqlite3
*.db
*.db-journal

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configuration files
.env.local
.env.test

# Other IDE files
.idea/
